# Server configuration
PORT=3000
JWT_SECRET=change-this-secret
NODE_ENV=development
COOKIE_SECURE=false

# Google reCAPTCHA Enterprise configuration
RECAPTCHA_SITE_KEY=6LeYBRotAAAAAKfB0iPqbv2bGbBWE_UrS1f1Jb9H
RECAPTCHA_API_KEY=6LeYBRotAAAAAHX_zIyXk7_30Hb0TAw97chW2MhO
RECAPTCHA_PROJECT_ID=YOUR_GOOGLE_CLOUD_PROJECT_ID_HERE
RECAPTCHA_MIN_SCORE=0.5
