# Server configuration
PORT=3000
JWT_SECRET=change-this-secret
NODE_ENV=development
COOKIE_SECURE=false

# Google reCAPTCHA Enterprise configuration
# Site Key and Project ID: https://console.cloud.google.com/security/recaptcha?project=smartbiz-a9987
RECAPTCHA_SITE_KEY=6Lf75xotAAAAAOtywURIVODHe-SLjE-3s22_gvhK
RECAPTCHA_API_KEY=6Lf75xotAAAAAJjfrMMs1wo3q0MvEOI8XtOYW4-S
RECAPTCHA_PROJECT_ID=smartbiz-a9987
RECAPTCHA_MIN_SCORE=0.5

# Google Cloud Project Info
# Project Number: 581734204067
# Project ID: smartbiz-a9987
